.forgot-password-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.forgot-password-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.forgot-password-title {
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  color: #333;
}

.forgot-password-text {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: #666;
}

.forgot-password-input {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
}

.forgot-password-error {
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.forgot-password-button,
.forgot-password-ghost-button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in, background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.forgot-password-button {
  background-color: #ff4b2b;
  color: #ffffff;
}

.forgot-password-button:hover {
  background-color: #e04325;
}

.forgot-password-button:active {
  transform: scale(0.95);
}

.forgot-password-button:focus {
  outline: none;
}

.forgot-password-ghost-button {
  background-color: transparent;
  border-color: #ff4b2b;
  color: #ff4b2b;
}

.forgot-password-ghost-button:hover {
  background-color: #ff4b2b;
  color: #ffffff;
}

.forgot-password-ghost-button:active {
  transform: scale(0.95);
}

.forgot-password-ghost-button:focus {
  outline: none;
}

.forgot-password-link {
  text-decoration: none;
  color: inherit;
}
