.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Puedes ajustar el color de fondo según tu diseño */
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover,
.nav a:focus {
    color: #ff6b6b; /* Color rojo para el efecto hover/focus */
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
}

.cta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flag {
    width: 30px;
}

.language-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

/* Media queries para responsividad */
@media (max-width: 820px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .nav a {
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    .cta {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .logo {
        font-size: 1.2em;
    }

    .nav {
        gap: 5px;
    }

    .nav a {
        padding: 5px;
    }

    .cta {
        gap: 5px;
    }
}

.login-button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e03a2e; /* Color de fondo más oscuro al pasar el ratón */
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}
