.personal-directory {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.personal-directory h2 {
    margin-bottom: 20px;
    color: #333;
}

.team-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-photo {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-photo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.photo1 {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/20/04/30/asian-man-1468032_960_720.jpg');
    background-size: cover;
    background-position: center;
}

.photo2 {
    background-image: url('https://cdn.pixabay.com/photo/2019/10/23/08/03/woman-4570763_1280.jpg');
    background-size: cover;
    background-position: center;
}

.photo3 {
    background-image: url('https://cdn.pixabay.com/photo/2015/01/08/18/30/man-593372_1280.jpg');
    background-size: cover;
    background-position: center;
}