.review-container {
    max-width: 700px;
    margin: 5% auto;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.review-container h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
}

.review-item {
    border-bottom: 1px solid #ecf0f1;
    padding: 1.5rem 0;
}

.review-item h3 {
    margin: 0;
    font-size: 1.6rem;
    color: #e74c3c;
    font-weight: 400;
}

.review-item-date {
    color: #95a5a6;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.review-item p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #34495e;
}

.rating {
    font-size: 1.5rem;
    color: #f39c12;
}

.review-add-button,
.review-submit-button,
.review-cancel-button {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    min-width: 120px; /* To ensure consistent button width */
}

.review-add-button:hover,
.review-submit-button:hover,
.review-cancel-button:hover {
    background-color: #c0392b;
}

.modal {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.review-form {
    display: flex;
    flex-direction: column;
}

.review-form-group {
    margin-bottom: 1.5rem;
}

.review-form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #2c3e50;
    font-size: 1.1rem;
    font-weight: 500;
}

.review-form-input,
.review-form-textarea {
    width: 250px;
    padding: 0.75rem;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: .9rem;
    color: #2c3e50;
    font-family: inherit;
    resize: none;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.review-form-input {
    height: 40px; /* Consistent height for text input */
}

.review-form-textarea {
    min-height: 60px;
}

.review-form-error {
    color: #e74c3c;
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

section.buttonReview {
    justify-content: center;
    display: flex;
}